@import '~bootstrap/scss/bootstrap';
$purple: #6a24c7;

.failure {
  color: red;
}

.success {
  color: green;
}

body {
  background-image: url("public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $purple;
}

#heros,
h2 {
  font-family: 'Bangers', cursive;
}
#villains,
h2 {
  font-family: 'Bangers', cursive;
}

header {
  font-size: 55px;
  text-align: center;
  font-family: 'Bangers', cursive;
}

input {
  border-radius: 5px;
  border: $purple;
}

table {
  width: 50%;
  align-content: center;
  border: 0.5px solid $purple;
}

td,
th {
  font-size: 20px;
  background-color: black;
  font-family: 'Bangers', cursive;
}

td {
  font-size: 20px;
}

#login,
.btn {
  padding: 0.5px;
  background-color: $purple;
  border: $purple;
}
.btn:hover,
#login:hover {
  background-color: rgba(#b705ff,.32);
}

.close {
  width: auto;
  border-radius: 5px;
  color: $purple;
  opacity: 1;
}
.close:hover {
  background-color: white;
}

.modal-content {
  background-color: rgba(#000,.37);
}
